*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  background-color: antiquewhite;
}
.container{
  
}
.row{
 width: 100%;
 height: 500px;
 display: flex;
}
.left{
background-color: palevioletred;
width: 50%;
border-radius: 0 70px 0 0;
}